html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.productsData{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
}
.loading{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

@media screen and (max-width: 1200px){
    .productsData{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width: 1000px){
    .productsData{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 700px){
    .productsData{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 480px){
    .productsData{
        display: grid;
        grid-template-columns: 1fr;
    }
}